{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Aniket Kharat</p>
        <p>I am 22 Year old engineering student from Mumbai. I possess various technical skills in the fields of technology &
design. Currently pursuing Bachelor of engineering in Mechanical Engineering</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}